.card {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 4rem;
	width: 100%;
	padding: 4.5rem;
}

.heading {
	font-family: var(--font-heading);
	color: var(--color-light-gray);
	font-size: 4rem;
	text-transform: uppercase;
}
.content {
	font-family: var(--font-primary);
	line-height: 2.5rem;
}
