:root {
	/* FONT FAMILY */
	--font-primary: 'Lexend Deca', sans-serif;
	--font-heading: 'Big Shoulders Display', cursive;

	/* COLORS */
	--color-primary-orange: #e38826;
	--color-primary-cyan: #006970;
	--color-primary-dark-cyan: #004241;
	/* paragraphs */
	--color-white: rgba(255, 255, 255, 0.75);
	/* background, headings, buttons */
	--color-light-gray: rgb(242, 242, 242);
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body,
body *,
body *::after,
body *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-primary);
	font-weight: 400;
	font-size: 1.5rem;
	color: var(--color-white);
	line-height: 1;
	background-color: var(--color-light-gray);
	display: flex;
	justify-content: center;
	align-items: center;
}

.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 1rem;
	max-width: 32rem;
	overflow: hidden;
}
